<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>CWK</title>
</head>
<body>

<h1>Predict Winner in tender.</h1>
<h3>input INN organization</h3>

<!--<form action="/page.html" method="POST">
    <p><input type="submit" value="Get difficulty"></p>--!>

<form action="/page.html" method="POST">
    INN of organizer: <input type="text" name="message"/>
    INN of firm: <input type="text" name="message"/>
    <input type="submit" value="Ok">
</form>

<p>Probability: ${message}</p>

<p>Method: ${method}</p>

<p>URL: ${URL}</p>

<p>PathInfo: ${pathInfo}</p>

<p>SessionId: ${sessionId}</p>

<p>Parameters: ${parameters}</p>

</body>
</html>

